
<div id="startGameButton" class="d-none d-flex justify-content-center mb-2">
    <button id="startGame" class="btn btn-success">Новая игра</button>
</div>

<div id="newGame" style="display: none;">
    <p>Доступные цифры</p>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">1</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">2</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">3</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">4</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">5</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">6</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">7</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">8</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">9</button>
            </div>
            <div class="col-1">
                <button type="button" class="choice btn btn-secondary">0</button>
            </div>
            <div class="col-2">
                <button type="button" class="reset btn btn-danger btn-close"></button>
            </div>
        </div>
    </div>

    <p class="number">Твое число - </p>

    <div class="d-flex justify-content-center mb-3">
        <button id="try" type="button" class="btn btn-primary">Попытка</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Попытка</th>
                <th>Число</th>
                <th>Верных чисел</th>
                <th>На своем месте</th>
            </tr>
        </thead>
        <tbody id="tableResults">
            
        </tbody>
    </table>
</div>



 <script src="@Url.Content("~/js/Pages/FindTheNumber.js")"></script>