<div class="container">
    <div class="row">
        <!--Кнопки-->
        <div class="col-3">
            <button id="openAddNewDemoUserForm" class="longBtn">Добавить пользователя</button>
        </div>
        <div class="col-3">
            <button id="openChangeDemoUser" class="longBtn">Редактировать пользователя</button>
        </div>
        <div class="col-3">
            <button id="deleteUser" class="longBtn">Удалить пользователя</button>
        </div>
        <div class="col-3">
            <button id="downloadAllData" class="longBtn">Скачать все данные</button>
        </div>

        <!--Таблица-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>Имя</td>
                    <td>Фамилия</td>
                    <td>Дара рождения</td>
                    <td>Город</td>
                    <td>Телефон</td>
                    <td>Почта</td>
                    <td>Роль</td>
                    <td>Зарплата</td>
                    <td>Личный ID</td>
                    <td>редактировать</td>
                    <td>удалить</td>
                </tr>
            </thead>
            <tbody id="dataBaseMain">
            </tbody>
        </table>
    </div>
</div>