<div class="container">
    <div class="row">
        <!--Кнопки-->
        <div class="col-xl-3 col-lg-4 col-md-6">
            <button id="openAddNewDemoUserForm" class="longBtn">Добавить пользователя</button>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <button id="openChangeDemoUser" class="longBtn">Редактировать пользователя</button>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <button id="deleteUser" class="longBtn">Удалить пользователя</button>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <button id="downloadAllData" class="longBtn">Скачать все данные</button>
        </div>

        <!--Таблица-->
        <div class="table-responsive table-responsive-sm overflow-x-auto">
            <table class="table table-bordered table-striped table-sm d-md-table">
                <!-- Твоя таблица здесь -->
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Дара рождения</td>
                        <td>Город</td>
                        <td>Телефон</td>
                        <td>Почта</td>
                        <td>Роль</td>
                        <td>Зарплата</td>
                        <td>Личный ID</td>
                        <td>редактировать</td>
                        <td>удалить</td>
                    </tr>
                </thead>
                <tbody id="dataBaseMain">
                </tbody>                    
            </table>
        </div>         
    </div>
</div>