<div class="container">
    <div class="row">
        <div class="mb-3">
            <label class="form-label">Введите Id пользователя</label>
            <input id="idChangeDemoUser" type="text" class="form-control">
            <label id="errorLabelChangeUser" class="form-label d-none"></label>
        </div>
    </div>
    <button id="changeDemoUser" class="btn btn-primary">Изменить</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
</div>
