<div class="container">
    <div class="row">
        <p> Добавление нового пользователя</p>

        <p>Логин</p>
        <input />              

        <p>Компания</p>
        <input />

        <p>Почта</p>
        <input />

        <p>Телефон</p>
        <input />

        <p>Пароль</p>
        <input />

        <p>Подтверждение пароля</p>
        <input />

    </div>


    <button id="registerMainUser" class="btn btn-primary">Добавить</button>

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
</div>

<script src="@Url.Content("~/js/Pages/RegisterMainUser.js")"></script>