<div class="container">
    <div class="row">
        <p>Секундомер</p>
        <p id="timerDisplay">00:00:00:000</p>

        <div class="col-4">
            <button id="timerStart" class="btn btn-success">Старт</button>
        </div>
        <div class="col-4">
            <button id="timerStop" class="btn btn-danger">Стоп</button>
        </div>
        <div class="col-4">
            <button id="timerReset" class="btn btn-secondary">Сброс</button>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/Pages/StopWatch.js")"></script>