<div class="container">
    <p>Привет, это мои контакты:</p>

    <table class="table table-bordered">
        
        <tbody>    
            <tr>
                <td>Почта</td>
                <td>admin@vladimirsportfolio.top</td>
            </tr>
            <tr>                
                <td>Личная почта</td>
                <td>energon232@gmail.com</td>
            </tr>            
            <tr>               
                <td>Телефон</td>
                <td>+37377963320</td>
            </tr>
            <tr>               
                <td>Телеграмм</td>
                <td>t.me/Timofeev_Vladimir</td>
            </tr>
            <tr>               
                <td>ВК</td>
                <td>https://vk.com/vladimir000timofeev</td>
            </tr>
            <tr>
                <td>Данный проект на github</td>
                <td>https://github.com/TimofeevVova/Portfolio</td>
            </tr>
        </tbody>
    </table>
    <p>Данный сайт ещё очень сырой. Нет работы с адаптацией, шрифтами, дизайном и многим другим. На данный момент он показывает только то, что я хоть что то но умею. </p>

</div>