@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/DataBasePage.css" />
}

<!--Модальное окно-->
@Html.Partial("ModalWindow")

<div class="container">
    <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Works">Назад</a>
    <div class="justify-content-center">
        <div class="text-center">                        
            <p>Сдесь показан пример работы с базой данных PostgreSQL. Можно добавить, удалить, редактировать пользователя или скачать все данные в exel формате</p>            
            <div id="mainDBData">
        </div>
    </div>     
</div>

@section Scripts {   
    <script src="@Url.Content("~/js/Pages/DataBasePage.js")"></script>
}