@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/Index.css" />
}

<div class="container">
    <div class="row block1">
        <!--Инфо-->
        <div class="col-sm-7 bg-light text-dark">
            <div class="container">
                <div class ="mainText">
                    <p>
                        Здравствуйте, меня зовут Владимир и мне 26 лет.
                    </p>

                    <p>
                        Сейчас я активно ищу работу на постоянный период.
                    </p>

                    <p>
                        В моей практике я занимался различными задачами. Создавал адаптивные html странички, скрипты для чат-ботов,
                        С# методы для работы с api и базами данных и многое другое.
                    </p>

                    <p>
                        В работе использую HTML, CSS(Bootstrap), JavaScripr(JQuery , AJAX, VueJS) и .NET.
                    </p>

                    <p>
                        У меня есть степень специалиста в лбласти разработки програмного обеспечения и информационных технологий
                        Тираспольского государственного университета.
                    </p>
                </div>
                
            </div>
        </div>

        <!--Фото-->
        <div class="col-sm-5 bg-light text-dark text-center">
            <img src="~/Images/1.jpg" class="img-fluid rounded " alt="Pages Error...">
        </div>
    </div>
</div>
