@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/Index.css" />
}

<div class="container">
    <div class="row block1">
        <!--Инфо-->
        <div class="col-sm-7 bg-light text-dark">
            <div class="container">
                <div class="mainText">
                    <p>
                        Привет, меня зовут Владимир, и я - разработчик с опытом в создании разнообразных проектов.
                    </p>

                    <p>
                        В данный момент я активно ищу постоянную работу и решил поделиться своим опытом через это портфолио.
                    </p>

                    <p>
                        Мои навыки охватывают широкий спектр задач, включая создание адаптивных HTML-страниц, разработку скриптов для чат-ботов,
                        написание C# методов для работы с API и базами данных, а также многое другое.
                    </p>

                    <p>
                        В работе использую HTML, CSS (Bootstrap), JavaScript (jQuery, AJAX, VueJS) и .NET.
                    </p>

                    <p>
                        Я обладаю степенью специалиста в области разработки программного обеспечения и информационных технологий
                        Приднестровского государственного университета имени Т.Г.Шевченко.
                    </p>

                    <p>
                        На этой странице вы найдете примеры моих работ, а также я регулярно обновляю портфолио, добавляя новые проекты.                        
                        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Works">Посмотреть мои проекты</a>
                    </p>
                </div>
            </div>
        </div>

        <!--Фото-->
        <div class="col-sm-5 bg-light text-dark text-center">
            <img src="~/Images/1.jpg" class="img-fluid rounded" alt="Pages Error...">
        </div>
    </div>
</div>
