<div class="container">
    <div class="row">
        <div class="col-2 border">
            <p>Привет</p>
        </div>
        <div class="col-2 border">
            <p>это</p>
        </div>
        <div class="col-2 border">
            <p>видят</p>
        </div>
        <div class="col-2 border">
            <p>только</p>
        </div>
        <div class="col-2 border">
            <p>зарегистрированные</p>
        </div>
        <div class="col-2 border">
            <p>пользователи!</p>
        </div>
    </div>
</div>