<div class="container border p-3" style="max-width: 400px;">
    <div class="row">
        <h3>Регистрация</h3>

        <div class="mb-3">
            <label id="errorNewLoginLabel"></label>
            <br />
            <label class="form-label">Логин*</label>
            <input type="text" class="form-control" id="newLogin">
        </div>

        <div class="mb-3">
            <label class="form-label">Имя*</label>
            <input type="text" class="form-control" id="newName">
        </div>

        <div class="mb-3">
            <label class="form-label">Компания</label>
            <input type="text" class="form-control" id="newCompany">
        </div>

        <div>
            <label class="form-label">Пароль*</label>
            <input type="password" class="form-control" id="newPassword">
        </div>

        <div>
            <label class="form-label">Повторите пароль*</label>
            <input type="password" class="form-control" id="newPassword2">
        </div>

        <div>
            <input type="checkbox" id="saveNewPassword" name="fav_language" value="HTML">
            <label class="form-label">Сохранить пароль</label>
        </div>

        <div class="mb-3">            
            <label class="form-label">Уже есть аккаунт - </label>
            <a id="" class="" asp-area="" asp-controller="Login" asp-action="LoginPage">Авторизация</a>
        </div>

        <button id="RegisterNewUser" class="btn btn-primary">Регистрация</button>
    </div>
</div>


@section Scripts {
    <script src="@Url.Content("~/js/Pages/LoginProgram/RegisterPage.js")"></script>
}